
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
    Agregar usuario
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Registro</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                {{ form_start(formulario) }}
                {# inicio primer seccion#}
                <div class="form-row">

                    <div class="form-group col-md-6">

                        <label class="col-sm-10" style="margin-left:-49%">{{ form_label(formulario.identificacion) }}:</label> 

                        {{ form_widget(formulario.identificacion) }}

                        <div class="form-error">

                            {{ form_errors(formulario.identificacion) }}
                        </div>

                    </div>
                    <div class="form-group col-md-6">
                        <label class="col-sm-10" style="margin-left:-45%"  >{{ form_label(formulario.identificacion) }}:</label>
                        {{ form_widget(formulario.identificacion) }}
                        <div class="form-error">

                            {{ form_errors(formulario.identificacion) }}
                        </div>
                    </div>


                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="col-sm-10" style="margin-left:-45%" >{{ form_label(formulario.nombre1, 'Primer nombre') }}:</label>
                        {{ form_widget(formulario.nombre1) }}
                        <div class="form-error">

                            {{ form_errors(formulario.nombre1) }}
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="col-sm-10" style="margin-left:-43%" >{{ form_label(formulario.apellido1, 'Primer apellido') }}:</label>
                        {{ form_widget(formulario.apellido1) }}
                        <div class="form-error">

                            {{ form_errors(formulario.apellido1) }}
                        </div>
                    </div>


                </div>
                <div class="form-row">
                    <div class="form-group col-md-6" >
                        <label class="col-sm-10" style="margin-left:-35%">{{ form_label(formulario.nombre2, 'Segundo nombre') }}:</label>
                        {{ form_widget(formulario.nombre2) }}
                        <div class="form-error">

                            {{ form_errors(formulario.nombre2) }}
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="col-sm-10" style="margin-left:-34%" >{{ form_label(formulario.apellido2, 'Segundo apellido') }}:</label>
                        {{ form_widget(formulario.apellido2) }}
                        <div class="form-error">

                            {{ form_errors(formulario.apellido2) }}
                        </div>
                    </div>


                </div>

                <div style="border: 1px solid; height:20px; background-color: black"></div>
                <br>
                <br>

                {# fin primer seccion#}

                {# inicio segunda seccion #}

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="col-sm-10" style="" ><p>desplegable departamentos para d.nac</p></label>

                        <div class="form-error">


                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="col-sm-10" style="margin-left: -21%">{{ form_label(formulario.ciudadNac, 'Ciudad de nacimiento') }}:</label>
                        {{ form_widget(formulario.ciudadNac) }}
                        <div class="form-error">

                            {{ form_errors(formulario.ciudadNac) }}
                        </div>
                    </div>


                </div>


                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="col-sm-10" style="margin-left:-22%">{{ form_label(formulario.fechaNac, 'Fecha de nacimiento') }}:</label>
                        {{ form_widget(formulario.fechaNac) }}
                        <div class="form-error">

                            {{ form_errors(formulario.fechaNac) }}
                        </div>
                    </div>
                    <div class="form-group col-md-6">

                    </div>


                </div>

                <div style="border: 1px solid; height:20px; background-color: black"></div>        
                <br>
                <br>
                {# fin segunda seccion#}

                {# inicio tercera seccion #}

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="col-sm-10"><p>desplegable departamentos para d.res</p></label>

                        <div class="form-error">


                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="col-sm-10" style="margin-left: -22%">{{ form_label(formulario.ciudadRes, 'Ciudad de residencia') }}:</label>
                        {{ form_widget(formulario.ciudadRes) }}
                        <div class="form-error">

                            {{ form_errors(formulario.ciudadRes) }}
                        </div>
                    </div>


                </div>


                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="col-sm-12" style="margin-left:-17%">{{ form_label(formulario.direccion, 'Direccion de residencia') }}:</label>
                        {{ form_widget(formulario.direccion) }}
                        <div class="form-error">

                            {{ form_errors(formulario.direccion) }}
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="col-sm-10" style="margin-left: -32%" >{{ form_label(formulario.email, 'Correo electronico') }}:</label>
                        {{ form_widget(formulario.email) }}
                        <div class="form-error">

                            {{ form_errors(formulario.email) }}
                        </div>
                    </div>



                </div>
                <div style="border: 1px solid; height:20px; background-color: black"></div>
                <br>
                <br>

                {# fin tercer seccion#}

                {# inicio cuarta seccion #}

                <div class="form-row">

                    <div class="form-group col-md-6">
                        <label class="col-sm-10" style="margin-left: -64%">{{ form_label(formulario.usuario) }}:</label>
                        {{ form_widget(formulario.usuario) }}
                        <div class="form-error">

                            {{ form_errors(formulario.usuario) }}
                        </div>
                    </div>

                </div>
                {# fin cuarta seccion #}

                {{ form_end(formulario) }}
            </div>
            <div class="modal-footer">
                {#                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save changes</button>#}
            </div>
        </div>
    </div>
</div>

{# fin ventana modal #}

{# inicio tabla#}

<br>
<br>
<div style="width: 1000px;position: relative;margin: 0px auto;box-shadow: -1px -6px 12px 3px rgba(0,0,0,0.71);
     border-radius: 16px;"> 
    <br>
    <div style="width: 986px;         
         margin: 0px auto;">
        <table id="example" class="display" style="width:100%">
             <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>C.nac</th>
                        <th>C.red</th>
                        <th>Estado</th>
                        <th>Opciones</th>                   
                    </tr>
                </thead>
                <tbody>
                    {% for u in user %}
                        <tr>
                            <td>{{ u.nombre1 }} {{ u.apellido1 }}</td>
                            <td>{{ u.ciudadNac }}</td>
                            <td>{{ u.ciudadRes }}</td>
                            <td>61</td>
                            <td></td>                  
                        </tr> 

                    {% else %}
                        <tr><td>NO HAY PERSONAS REGISTRADAS</td></tr>
                    {% endfor %}

                </tbody>
            <tfoot>
                <tr>
                    <th>Nombre</th>
                    <th>Usuario</th>
                    <th>Rol</th>
                    <th>Estado</th>
                    <th>Opciones</th>                   
                </tr>
            </tfoot>
        </table>
    </div>
    <br>
</div>

{# fin tabla#}

<script>

    $(document).ready(function () {
        $('#example').DataTable();
    });

</script>
<script src="{{asset("bundles/framework/js/index/jquery.dataTables.min.js")}}" type="text/javascript"></script>
<link href="{{asset("bundles/framework/css/index/jquery.dataTables.min.css")}}" rel="stylesheet" type="text/css"/>