{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("bundles/framework/css/index/menu.css") }}" >
{% endblock%}

<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
    {% for m in menus %}

        <div class="dropdown-submenu">
            <!-- Dropdown menu links -->

            {% if m.url is null %}      
                <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">{{ m.nombreMenu }}</a>
                    <ul class="dropdown-menu">
                        {% for s in m.smenus %}                    

                            <li><a class="dropdown-item menu" href="{{ path(s.url) }}">{{ s.nombreSubmenu }}</a></li>                    

                        {% endfor%}
                    </ul>
                </li>
            {% else %}
                <li><a class="dropdown-item" href="{{ m.url }}">{{ m.nombreMenu }}</a></li>
                {% endif %}
        </div>
    {% endfor %}

</ul>

{% block javascripts %}
    <script type='text/javascript' src="{{ asset("bundles/framework/js/index/menu.js") }}" ></script>
{% endblock %}




