<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset("bundles/framework/libs/css/bootstrap.min.css") }}" >
            <link rel="stylesheet" href="{{ asset("bundles/framework/libs/css/all.css") }}" >
            <link rel="stylesheet" href="{{ asset("bundles/framework/libs/font/styles.css") }}" >
          
        {% endblock %}
        {% block javascripts %}
            <script type='text/javascript' src="{{ asset("bundles/framework/libs/js/jquery-3.3.1.slim.min.js") }}" ></script>
            <script type='text/javascript' src="{{ asset("bundles/framework/libs/js/bootstrap.min.js") }}" ></script>
            <script type='text/javascript' src="{{ asset("bundles/framework/libs/js/popper.min.js") }}" ></script>
            <script type='text/javascript' src="{{ asset("bundles/framework/libs/js/jquery.min.js") }}" ></script>
        {% endblock %}

        <title>{% block title %}BIENVENIDO A VIRTUAL TECHNOLOG{% endblock %}</title>

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body id="{% block id '' %}"><div id="contenedor">

            <header>
                <div>
                    <div class="jumbotron">
                        <div class="container">

                        </div>
                    </div>
                </div>
                <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <ul class="navbar-nav mr-auto">

                            <li class="nav-item dropdown">
                                <a style="color: #ff4800" class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Menu
                                </a>                      

                                {{ render(controller('AppBundle:Default:listarMenu')) }}
                            </li>
                    </div>

                    <nav class="navbar navbar-toggleable-md " >
                        <div class="nav-item dropdown" >
                            <a style="color: #ff4800" class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="icon-cogs" ></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item menu" id="menu" href="{{ path('prueba') }}">Another action</a></li>

                            </ul>
                        </div>
                        <a style="color: #ff4800">
                            nombre
                        </a>
                    </nav>
                </nav>
            </header>
            {% block body %}

                <div id="contenido" style="text-align: center">

                </div>
            {% endblock %}
            <footer class="pt-4 my-md-5 pt-md-5 border-top" style="background-color: #e9ecef; color:#ff4800 ">
                <div class="row">
                    <div class="col-12" style="text-align: center">
                        <h2>Contacto</h2>
                        <span>315-6614275</span>-
                        <span>(092) 8338743</span><br>
                        <span>Gerente General:<strong>David Eduardo Lozada Ceron</strong></span><br>
                        <span>Popayán(Cauca)</span>

                        <p class="m-0">
                            Copyright ©<i class="fa fa-heart-o" aria-hidden="true"></i> by <a target="_blank">Virtualtechnology</a>
                        </p>
                    </div><!-- .col-12 -->
                </div><!-- .row -->
            </footer>
        </div></body>
</html>
