@charset "UTF-8";

@font-face {
  font-family: "untitled-font-1";
  src:url("fonts/untitled-font-1.eot");
  src:url("fonts/untitled-font-1.eot?#iefix") format("embedded-opentype"),
    url("fonts/untitled-font-1.woff") format("woff"),
    url("fonts/untitled-font-1.ttf") format("truetype"),
    url("fonts/untitled-font-1.svg#untitled-font-1") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "untitled-font-1" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "untitled-font-1" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\61";
}
.icon-facebook-square:before {
  content: "\62";
}
.icon-google-plus:before {
  content: "\63";
}
.icon-google-plus-square:before {
  content: "\64";
}
.icon-twitter:before {
  content: "\65";
}
.icon-social-orkut:before {
  content: "\66";
}
.icon-social-linkedin:before {
  content: "\67";
}
.icon-social-youtube:before {
  content: "\68";
}
.icon-social-twitter:before {
  content: "\69";
}
.icon-social-instagram:before {
  content: "\6a";
}
.icon-social-skype:before {
  content: "\6b";
}
.icon-cog:before {
  content: "\6c";
}
.icon-cogs:before {
  content: "\6d";
}
.icon-search:before {
  content: "\6e";
}
.icon-search-minus:before {
  content: "\6f";
}
.icon-search-plus:before {
  content: "\70";
}
.icon-stack-overflow:before {
  content: "\71";
}
.icon-wifi:before {
  content: "\72";
}
.icon-youtube:before {
  content: "\73";
}
.icon-youtube-square:before {
  content: "\74";
}
.icon-check:before {
  content: "\75";
}
.icon-chevron-left:before {
  content: "\76";
}
.icon-chevron-down:before {
  content: "\77";
}
.icon-chevron-right:before {
  content: "\78";
}
.icon-chevron-up:before {
  content: "\79";
}
.icon-dash:before {
  content: "\7a";
}
.icon-clippy:before {
  content: "\41";
}
.icon-clock:before {
  content: "\42";
}
.icon-code:before {
  content: "\43";
}
.icon-comment:before {
  content: "\44";
}
.icon-key:before {
  content: "\45";
}
.icon-lock:before {
  content: "\46";
}
.icon-mark-github:before {
  content: "\47";
}
.icon-mute:before {
  content: "\48";
}
.icon-mention:before {
  content: "\49";
}
.icon-puzzle:before {
  content: "\4a";
}
.icon-settings-streamline-1:before {
  content: "\4b";
}
.icon-marker:before {
  content: "\4c";
}
.icon-html5:before {
  content: "\4d";
}
.icon-lock-1:before {
  content: "\4e";
}
.icon-male:before {
  content: "\4f";
}
.icon-male-female:before {
  content: "\50";
}
.icon-rss:before {
  content: "\51";
}
.icon-save:before {
  content: "\52";
}
.icon-social-github:before {
  content: "\53";
}
.icon-social-google-plus:before {
  content: "\54";
}
.icon-social-android:before {
  content: "\55";
}
.icon-social-apple:before {
  content: "\56";
}
.icon-social-evernote:before {
  content: "\57";
}
.icon-social-dropbox:before {
  content: "\58";
}
.icon-social-drive:before {
  content: "\59";
}
.icon-cog-1:before {
  content: "\5a";
}
.icon-login:before {
  content: "\30";
}
.icon-lock-2:before {
  content: "\31";
}
.icon-lock-open:before {
  content: "\32";
}
.icon-logout:before {
  content: "\33";
}
.icon-resize-full:before {
  content: "\34";
}
.icon-resize-small:before {
  content: "\35";
}
.icon-signal:before {
  content: "\36";
}
.icon-user:before {
  content: "\37";
}
.icon-user-add:before {
  content: "\38";
}
.icon-users:before {
  content: "\39";
}
.icon-settings:before {
  content: "\21";
}
.icon-sun:before {
  content: "\22";
}
.icon-wifi-2:before {
  content: "\23";
}
.icon-wifi-3:before {
  content: "\24";
}
.icon-wifi-1:before {
  content: "\25";
}
.icon-users-outline:before {
  content: "\26";
}
.icon-zoom:before {
  content: "\28";
}
.icon-zoom-out:before {
  content: "\27";
}
.icon-zoom-in:before {
  content: "\29";
}
.icon-settings-1:before {
  content: "\2a";
}
